<html ng-app="helpParents">
<head>

<title>Help Parents</title>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1,maximum-scale=1"
	name="viewport">

<meta name="author" content="Nicola Guerrieri">
<meta name="description"
	content="Guerrieri Nicola Sito personale di Nicola Guerrieri heroku java node.js programmatore bologna">
<meta name="keywords" content=" Nicola Guerrieri">


<meta HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="Italian">

<script src="bower_components/jquery.min.js"></script>

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<link rel="stylesheet"
	href="fonts/font-awesome-4.6.3/css/font-awesome.min.css">

<script types="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyATlH8FPWYGZEORYiLPoOSvtgrOzF8-690&libraries=places" />
<script src="js/bootstrap.min.js">
	
</script>
<script src="js/util.js"></script>
<script src="js/HomeController.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>



<script type="text/javascript">
	var cittaMia = '<%= citta %>';

	$(document).ready(
			function() {
				var placeSearch, autocomplete;

				autocomplete = new google.maps.places.Autocomplete((document
						.getElementById('autocomplete')), {
					types : [ 'geocode' ]
				});
				autocomplete.addListener('citta', fillInAddress);
			});
</script>
</head>

<body ng-controller="genericCtrl" ng-init="getLuogoMap(null)">

	<div class="contentPreFooter">

		<nav class="navbar navbar-inverse coloreGradiente">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">WebSiteName</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							Login</a></li>
				</ul>
			</div>
		</nav>
		
<!-- 		MAPPA -->
		<div id="map_container"></div>
		<div style="width: 100%;">
			<div class="col-sm-3" style="padding: 10px;">
				<input type="text" placeholder="{{'place' | translate }}"
					id="autocomplete" ng-model="result.cercaPostoNew" class="form-control"
					name="citta" value="<%= citta %>" my-enter="getLuogoMap()" /><br />
				<div class="text-center">
					<input type="radio" name="tipoLuogoEvento" id="mobili" value="2" />
					<label for="mobili">{{ 'temporanei' | translate }}</label> <br />
					<input type="radio" name="tipoLuogoEvento" id="fissi" value="1" />
					<label for="fissi">{{ 'fissi' | translate }}</label> <br /> <input
						type="radio" name="tipoLuogoEvento" id="tutti" value="3"
						checked="checked" /> <label for="tutti">{{ 'tutti' |
						translate }}</label> <br /> <br />

					<!-- 					<button type="button" ng-click="getLuogoMap($('#autocomplete').val())" -->
					<button type="button" ng-click="getLuogoMap()" 
						class="btn btn-info">{{ 'cerca' | translate }}</button>
				</div>
			</div>
			<div class="col-sm-9">
				<div style="width: 100%; padding-top: 10px;">
					<!-- 					//lista luoghi --> 
					<div class="row text-center"  ng-show="!result.luogoCercato.listaLuoghi.length">Nessun luogo trovato</div>
					<div ng-repeat="poste in result.luogoCercato.listaLuoghi"
						style="border: 1px solid #0fb8ad; border-radius: 10px; padding: 5px; width: 96%; margin: 5px; margin-left: 10px"
						class="row">
						<div class="col-sm-3" style="">
							<img src="images/cinquetedrre.jpg" class="img-circle"
								style="width: 60px; height: 60px;" alt="logo">
						</div>
						<div class="col-sm-6" style="">
							{{poste.nome}} {{poste.via}} {{poste.citta}} <br />
							{{poste.descrizione}}
						</div>
						<div class="col-sm-2" style="">
							<!-- 							icone -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'pagineSoloClient/footer.html'"></div>
</body>

</html>
