<footer class="footer text-center">
	<span>Created by Nicola Guerrieri</span> 
	<div class="row text-left" style=""></div>


	<div class="row" style="width: 98%">
		<div class="col-xs-3 text-left">
			<div class="previous spostamiLeft">
				<i class="fa fa-facebook" aria-hidden="true"
					style="font-size: 30px; border: 1px solid white; padding: 5px;"></i>
				<i class="fa fa-instagram" aria-hidden="true"
					style="font-size: 30px; border: 1px solid white; padding: 5px;"></i>
				<i class="fa fa-linkedin" aria-hidden="true"
					style="font-size: 30px; border: 1px solid white; padding: 5px;"></i><br /><br />
				<span><a title="logout" href="/privacy" style="color: white;">Cookie | </a><a title="logout" href="/privacy" style="color: white;">Termini e condizioni</a></span>
			</div>
		</div>
		<div class="col-xs-7 text-left">
			<div class="row descrizioneFooter">AroundTheWod nasce dall'idea di portare tutti gli sportivi outdoor, agonisti e non, a conoscenza delle varie location a sfondo sportivo che ogni comune mette a disposizione  dei propri cittadini. Dai percorsi vita ai parchi attrezzati con strutture per praticare allenamento a corpo libero,dai tracciati dedicati al trail run alle vere e proprie palestre a cielo aperto... Da oggi ,tutte rintracciabili e raggiungibili con un solo click. Lo sport è  fonte di stimolo, benessere, ma soprattutto condivisione. Uscite dalla vostra zona di comfort ed entrate a far parte della ArounTheWod  Community. <br /> <br /></div>
		</div>
		<div class="col-xs-2 text-right">
			<div class="next spostami">
				<div class="container-fluid text-right">
					<img ng-click="changeLanguage('en')" src="../images/en.png"
						alt="en" style="height: 20px; width: 20px;" /> <img
						ng-click="changeLanguage('it')" src="../images/it.png" alt="it"
						style="height: 20px; width: 20px;" /> &nbsp; <span
						style="color: #3a5a75; font-weight: bold;">{{lingua}}</span>
				</div>
			</div>
		</div>
	</div>
</footer>