<footer class="footer text-center">
	<span>Created by Nicola Guerrieri</span>

	<div class="row text-left"
		style=""></div>


<div class="row" style="width: 98%">
	<div class="col-xs-6 text-left">
		<div class="previous spostamiLeft">
			<i class="fa fa-facebook" aria-hidden="true"
				style="font-size: 30px; border: 1px solid white; padding: 5px;"></i>
			<i class="fa fa-instagram" aria-hidden="true"
				style="font-size: 30px; border: 1px solid white; padding: 5px;"></i>
			<i class="fa fa-linkedin" aria-hidden="true"
				style="font-size: 30px; border: 1px solid white; padding: 5px;"></i>
		</div>
	</div>
	<div class="col-xs-6 text-right">
		<div class="next spostami">
			<div class="container-fluid text-right">
				<img ng-click="changeLanguage('en')" src="images/en.png" alt="en"
					style="height: 20px; width: 20px;" /> <img
					ng-click="changeLanguage('it')" src="images/it.png" alt="it"
					style="height: 20px; width: 20px;" /> &nbsp; <span
					style="color: #3a5a75; font-weight: bold;">{{lingua}}</span>
			</div>
		</div>
	</div>
</div>
</footer>